
footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 2rem;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-nav ul {
    list-style-type: none;
    display: flex;
}

.footer-nav ul li {
    margin: 0 15px;
}

.footer-nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: var(--secondary-color);
    font-size: 1.5em;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--accent-color);
}