@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --text-color: #333333;
    --background-color: #f4f4f4;
    --accent-color: #888888;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('assets/Photos/header.jpg');
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.section-title {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: var(--primary-color);
}





.project.visible,
.about-content.visible,
.contact-content.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (max-width: 768px) {

    .header-content h1 {
        font-size: 3rem;
    }
    .header-content p {
        font-size: 1.2rem;
    }
    .container {
        width: 90%;
    }
    .about-content, .contact-content {
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-nav ul {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    .footer-nav ul li {
        margin: 10px 0;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul {
        margin-top: 10px;
        flex-direction: column;
        width: 100%;
    }
    nav ul li {
        margin: 10px 0;
    }
}

