header {
    height: 100vh;
    display: flex;
    align-items: end;
    padding: 15% 0;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.header-content {
    text-align: center;
    color: var(--secondary-color);
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.header-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.header-content p {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards 0.5s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}